$Mirage: #1c2a39;
$BlueZodiac:#0c2745;
$White:#ffffff;
$Black:#000000;
$DoveGray: #666666;
$WildSand:#F5F4F4;
$RoseWhite:#FFFEFE;
$Silver:#c9c9c9;
$Alabaster:#fbfbfb;
$Mercury:#E6E6E6;
$Meteor:#d4740d;
$BlackPearl:#091f37;
$ChathamsBlue:#173f6b;
body {
    background-color: $Mirage;
    margin: 0px;
    font-family: "Arial", "Sans-serif";
    width: 100%;
    height: 600px;
}

.wrapper {
    width: 963px;
    max-width: 100%;
    height: 950px;
    background-color: $BlueZodiac;
    margin: auto;
    position: relative;
}

.logo {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 100;
}

.top-nav {
    position: absolute;
    top: 15px;
    left: 100px;
    font-size: 14px;
}

.top-nav li {
    display: inline;
    padding-left: 3px;
}

.top-nav a {
    text-decoration: none;
    color: $White;
}

a.FBLink {
    position: absolute;
    top: 15px;
    left: 400px;
}

.SB {
    position: absolute;
    top: 25px;
    left: 560px;
    border-radius: 20px;
    width: 175px;
    height: 15px;
}

.donate-btn {
    position: absolute;
    top: 15px;
    left: 764px;
    width: 150px;
    height: 30px;
}

.graybox-top {
    width: 100%;
    height: 15px;
    background-color: $DoveGray;
    position: absolute;
    top: 60px;
    left: 0px;
}

.graybox-bottom {
    width: 100%;
    height: 15px;
    background-color: $DoveGray;
    position: absolute;
    top: 110px;
    left: 0px;
}

nav {
    background-color: $WildSand;
    position: absolute;
    top: 75px;
    left: 0px;
    width: 100%;
    height: 4%;
    text-transform: uppercase;
    font-size: 14px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li a {
        display: block;
        color: $Black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li {
        float: left;
    }
}

nav .nav {
    margin-left: 150px;
}

nav a:hover {
    background-color: $Silver;
}

aside {
    width: 265px;
    height: 652px;
    background-color: $Alabaster;
    position: absolute;
    top: 125px;
    left: 0px;
}

.menu-options li {
    list-style: none;
    font-size: 13px;
    border-bottom: 1px solid black;
    text-align: left;
    margin-left: -27px;
    margin-bottom: 8px;
}

.sub-menu {
    margin-left: -20px;
}

h3 {
    color: $Meteor;
    margin-left: 20px;
    margin-bottom: 5px;
}

.get-involved,
.success-stories {
    width: 240px;
    height: 125px;
    background-color: $Mercury;
    margin: 0px auto;
}

.get-involved img {
    margin-left: 10px;
    margin-top: 15px;
    float: left;
}

.get-involved p {
    float: left;
    font-size: 12px;
    width: 115px;
    margin-left: 5px;
}

hr {
    margin-top: 10px;
}

.success {
    color: black;
}

.success-stories img {
    margin-left: 10px;
    margin-top: 15px;
    float: left;
}

.success-stories p {
    float: left;
    font-size: 12px;
    width: 115px;
    margin-left: 5px;
}

a.donate {
    background-color: $Meteor;
    padding: 10px 94px;
    text-decoration: none;
    color: White;
    position: relative;
    top: 25px;
    left: 12px;
}

.main-content {
    background: -moz-linear-gradient(top, rgba(237, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237, 235, 235, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(237, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(237, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(237, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(237, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
    width: 698px;
    height: 652px;
    float: left;
    margin-left: 265px;
    margin-top: 125px;
}

.breadcrumb {
    list-style: none;
    font-size: 10px;
    a {
        color: $Black;
        text-decoration: none;
        padding: 10px 0 10px 10px;
        display: inline;
    }
    li {
        float: left;
        position: relative;
        top: 30%;
        left: 55%;
    }
}

.services {
    font-family: serif;
    display: inline;
    margin-left: -300px;
    text-align: left;
}

.large-img {
    margin: auto;
    display: block;
}

.since1973 {
    color: $White;
    position: absolute;
    top: 155px;
    right: 50px;
}

.prevention {
    font-family: serif;
    margin-left: 22px;
    color: $Meteor;
    font-size: 18px;
}

.column-one,
.column-two {
    width: 425px;
    margin-left: 10px;
}

.right-aside {
    width: 262px;
    height: 404px;
    margin-left: 701px;
    margin-top: 248px;
}

.social-media {
    background-color: $WildSand;
    width: 238px;
    height: 35px;
    margin-top: 10px;
}

.fb-like {
    margin-left: 20px;
    margin-top: 10px;
    float: left;
}

.fb-share {
    margin-left: 40px;
    margin-top: 10px;
    float: left;
}

article {
    width: 225px;
    height: 225px;
    position: absolute;
    top: 415px;
    right: 10px;
    h2,
    .two {
        border-bottom: .5px solid black;
        font-size: 18px;
        color: $ChathamsBlue;
    }
    p {
        font-size: 14px;
    }
}

.two {
    width: 225px;
    height: 225px;
    position: absolute;
    top: 555px;
    right: 10px;
}

.bottom-about-us,
.bottom-services,
.bottom-involved {
    background-color: $BlackPearl;
    height: 40px;
    width: 200px;
    color: White;
    border-right: 1px solid black;
    text-align: center;
    line-height: 2.5;
    position: absolute;
    bottom: 100px;
}

.bottom-about-us {
    left: 20px;
}

.bottom-services {
    left: 270px;
}

.bottom-involved {
    left: 520px;
}

.bottom-about-us-list,
.bottom-services-list,
.bottom-involved-list {
    position: absolute;
    bottom: 20px;
    color: $Silver;
    font-size: 13px;
}

.bottom-about-us-list {
    left: 20px;
}

.bottom-services-list {
    left: 270px;
}

.bottom-involved-list {
    left: 520px;
}

.bottom-logo {
    position: absolute;
    bottom: 30px;
    right: 10px;
}

.copyright {
    color: $White;
    font-size: 12px;
    text-align: center;
}
