.content-container {
  background-color: $alabaster;
  padding-bottom: 20px;
  margin-top: -45px;
}

.main {
  // background: -moz-linear-gradient(top, rgba(237, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
  // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237, 235, 235, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  // background: -webkit-linear-gradient(top, rgba(237, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
  // background: -o-linear-gradient(top, rgba(237, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
  // background: -ms-linear-gradient(top, rgba(237, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
  // background: linear-gradient(to bottom, rgba(237, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
  width: 675px;
  float: left;
  margin-top: -38px;
  .col-one {
    float: left;
    width: 400px;
    margin-left: 12px;
  }
}

.services {
  font-family: serif;
  display: inline;
  text-align: left;
  margin-left: 12px;
}

.large-img {
  margin: auto;
  display: block;
}


/*.since-1973 {
  color: $white;
}
*/

.prevention {
  font-family: serif;
  color: $meteor;
  font-size: 18px;
}
