$base: #F7F6F0;
$darken: darken(#F7F6F0, 30%);
$back: darken(#F7F6F0, 40%);
$mirage: #1c2a39;
$blueZodiac: #0c2745;
$white: #ffffff;
$black: #000000;
$doveGray: #666666;
$wildSand:#f5f4f4;
$roseWhite:#fffefe;
$silver:#c9c9c9;
$alabaster:#fbfbfb;
$mercury:#e6e6e6;
$meteor:#d4740d;
$blackPearl:#091f37;
$chathamsBlue:#173f6b;
